<div class="col-12 row p-4" >
    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">Project :</p>
        <p class="pb-1 mb-1 text-center">{{ mir.project }}</p>
    </div>
    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">PO Number:</p>
        <p class="pb-1 mb-1 text-center">{{ mir.po }}</p>
    </div>
    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">PL Number:</p>
        <p class="pb-1 mb-1 text-center">{{ mir.pl }}</p>
    </div>
    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">Warehouse:</p>
        <p class="pb-1 mb-1 text-center">{{ mir.warehouse }}</p>
    </div>

    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">MIR Number:</p>
        <p class="pb-1 mb-1 text-center">{{ mir.number }}</p>
    </div>

    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">Required Date:</p>
        <p class="pb-1 mb-1 text-center">{{ mir.required_date }}</p>
    </div>
    <div class="col-12 col-md-4 px-0">
        <p class="pb-1 mb-1 text-center bg-dark-subtle">Destination:</p>
        <p class="pb-1 mb-1 text-center">{{ mir.location }}</p>
    </div>

    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item description</th>
                    <th scope="col">Quantity</th>
        
                </tr>
            </thead>
            <tbody>
                {% for item in mir.items.all %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>
                        {{item.mrs_item}}
                    </td>
                    <td>
                        {{item.quantity}}                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if not mir.sent_to_location %}
    <form action="{% url 'send_mir_from_warehouse' %}" method="post">
        {% csrf_token %}
        <input type="text" name="id" value="{{mir.id}}" hidden>
        <button type="submit" name="send" class="btn btn-success" value="send">accept and send to location</button>
        <button type="submit" name="send_back" class="btn btn-danger" value="send_back">send back</button>
    </form>

    {% endif %}



</div>
